<body class="bg-winwhite fg-black" >
    <header class="bg-winblue post-header user-select-none">
        <% // 菜单 %>
        <nav class="clear-float"><ul class="horizontal-menu place-left">
            <% // 标题 %>
            <li>  <a class="place-left fg-white padding-0" href="/" > <img src="/asset/icon/arrow.svg" class="back-icon"></img> <span class="post-title"> <%- config.title %> </h1></a></li>
    
            <% // 头像 %>
            <% if(config.metro2013.profile) {%>
                <li class="place-right fg-white"> <span class="profile-name"><%= config.metro2013.profile.name %></span> <img class="profile-avatar" src="<%- config.metro2013.profile.avatar %>"> </li>
            <% } %>
        </ul></nav>
    </header>

    <main class="center-container container">
        <article>
            <%- page.content %>
        </article>
        
        <nav class="tags">
            <% if(page.tags.data.length > 0) {%>
                <%= __('tag') %>:
                <% page.tags.data.map(x=>x.name).forEach( (tag, i, array)=> { %>
                    <a href="/tags/<%= tag %>"><%- tag %></a>
                    <%= i!==(array.length-1) ? '|' : '' %>
                <% }) %>
            <% } %>

            <span> <%= __('published_at') %>: <time class="published" datetime="<%= page.date.toDate().toISOString() %>"><%= page.date.format(config.date_format) %></time></span>
            <% if(page.updated.format(config.date_format) !== page.date.format(config.date_format)) {%>
                <span> <%= __('updated_at') %>: <time class="updated" datetime="<%= page.updated.toDate().toISOString() %>"><%= page.date.format(config.date_format) %></time> </span>
            <% } %>
        </nav>
    </main>

</body>