<header class="margin20 no-margin-left user-select-none clear-float">


    <% // 公告或副标题 %>
    <% config.metro2013.notice.forEach( ({content}) => {%>
        <div class="place-right"><%- content %></div>
    <% }) %>

    <% // 菜单 %>
    <nav class="main-menu-wrapper clear-float"><ul class="horizontal-menu place-left">

        <% // 标题 %>
        <li><a class="place-left fg-white padding-0" href="/" ><h1 style="font-size: 54px;"> <%- config.title %> </h1></a></li>

        <% //导航 %>
        <% for(const nav of config.metro2013.nav) { %>
          <li><a style="font-size: 24px; color: #9db5ca; margin-top: 32%;" href="<%- nav.url %>"><%- nav.name %></a></li>
        <% } %>

        <% // 头像 %>
        <% if(config.metro2013.profile) {%>
            <li class="place-right fg-white profile"> <span class="profile-name"><%= config.metro2013.profile.name %></span> <img class="profile-avatar" src="<%- config.metro2013.profile.avatar %>"> </li>
        <% } %>
    </ul></nav>

</header>